# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [1]:
# Import sqlite3 and pandas.
import pandas as pd
import sqlite3 as sl

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [2]:
# Create a new database called exercises.db.
con = sl.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [5]:
# Create a new table in your database.
with con:
    con.execute("""
        CREATE TABLE FAVORITE_BOOKS (
            title TEXT,
            author TEXT,
            description TEXT
        );
    """)

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [8]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO FAVORITE_BOOKS (title, author, description) values(?, ?, ?)'
data = [
    ("Nolo's Guide to Social Security Disability", 'Morton, David A.', 'Getting & Keeping your Benefits'),
    ('Special Needs Trusts', 'Urbatsch, Kevin', "Protect your Child's Financial Future"),
    ('Make your Own Living Trust', 'Clifford, Denis', 'Make your Own Living Trust')
]

In [9]:
with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [10]:
# Write your SELECT query here.

with con:
    data = con.execute("SELECT * FROM FAVORITE_BOOKS WHERE author = 'Urbatsch, Kevin'")
    for row in data:
        print(row)

('Special Needs Trusts', 'Urbatsch, Kevin', "Protect your Child's Financial Future")

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [11]:
# Use Pandas to make a new table in your database.
with con:
    con.execute("""
        CREATE TABLE FAVORITE_MOVIES (
            id INT,
            title TEXT
        );
    """)

In [12]:
sql = 'INSERT INTO FAVORITE_MOVIES (id,title) values(?, ?)'
data = [
    (100, 'Sound of Music'),
    (101,'Titanic'),
    (102,'Harry Potter')
]

In [13]:
with con:
    con.executemany(sql, data)

In [14]:
with con:
    data = con.execute("SELECT * FROM FAVORITE_MOVIES")
    for row in data:
        print(row)

(100, 'Sound of Music')
(101, 'Titanic')
(102, 'Harry Potter')